body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(47, 88%, 63%);
  font-family: Arial, sans-serif;
}
.container {
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}
img {
  max-width: 100%;
  display: block;
  border-radius: 15px;
}
p {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}
.button-learning {
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  margin-top: 20px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.button-learning:hover {
  background-color: orange;
}  
.padding {
  box-shadow: 7px 7px black;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid black;
}
.p2 {
  font-weight: 900;
  font-size: 11px;
}
.published {
  font-size: 12px;
  text-align: left;
  font-weight: bold;
}
.hmtl-css {
  font-size: 18px;
  font-weight: 800;
  text-align: left;
}
.these-found {
  font-size: 14px;
  font-weight: 500;
  color: darkgray;
  word-break: keep-all;
  text-align: left;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 20px;
}
.profil-pic {
  height: 30px;
}
.profil-text {
  font-size: 10px;
  font-weight: 800;
  margin-left: 5px;
}
